<% include header_admin %>

<body class="">
  <div class="wrapper ">
    <% include sidebar_admin%>
    <div class="main-panel nain-admin-03" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#pablo">User Profile</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                  <a class="dropdown-item" id="logout">Log out</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 offset-1">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Chỉnh sửa thông tin cá nhân</h4>
                  <p class="card-category">Chào mừng <%= account.username%></p>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group bmd-form-group">
                        <input type="hidden" id="usernameChangePass" value="<%=account.username%>">

                        <input type="text" class="form-control" id="usernameChangePass"
                          placeholder="User name : <%= account.username%>" disabled>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group bmd-form-group">

                        <input type="text" class="form-control" id="emailChangePass"
                          placeholder="Email address : <%= account.email%>">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group bmd-form-group">
                        <input type="text" class="form-control" id="firstNameChangePass"
                          placeholder="First name : <%= account.firstName%>">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group bmd-form-group">
                        <input type="text" class="form-control" id="lastNameChangePass"
                          placeholder="Last name : <%= account.lastName%>">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group bmd-form-group">
                        <input type="text" class="form-control" pattern="^[1-9]\d*(?:\.\d+)?(?:[kmbt])?$"
                          id="numberPhoneChangePass" placeholder="Số điện thoại : <%= account.numberPhone%>">
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group bmd-form-group">
                        <input type="text" class="form-control" id="addressChangePass"
                          placeholder="Địa chỉ : <%= account.address%>">
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-primary pull-right">
                    <a href="#updatePersonalAccount" onclick="updatePersonAccount()" style="color: aliceblue;">Cập
                      nhật</a>
                  </button>
                  <!--Content Modal addAccount -->
                  <button type="button" class="btn btn btn-rectangle btn-warning" data-toggle="modal"
                    data-target="#changePassAccount" data-original-title="" title="">
                    <a class="badge" style="font-size: inherit;">Đổi mật khẩu</a>
                  </button>
                  <!-- Content Modal  addAccount  -->
                  <div class="modal fade" id="changePassAccount" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="addAccountModal">Đổi mật khẩu</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <!--/.modal-header-->
                        <div class="modal-body">
                          <form method="post" id="updateForm" action="/admin/changepass">
                            <div class="form-group bmd-form-group" id="currentPass-group">
                              <label for="current_pass" class="bmd-label-static">Mật khẩu hiện tại :</label>
                              <input class="form-control" type="password" name="current_pass" id="current_pass">
                            </div>
                            <div class="form-group bmd-form-group">
                              <label for="new_pass" class="bmd-label-static">Nhập mật khẩu mới :</label>
                              <input class="form-control" type="password" name="new_pass" id="new_pass">
                            </div>
                            <div class="form-group bmd-form-group">
                              <label for="confirm_pass" class="bmd-label-static">Nhập lại mật khẩu :</label>
                              <input class="form-control" type="password" name="confirm_pass" id="confirm_pass">
                            </div>
                            <div class="modal-footer">
                              <!-- <input type="submit" name="submit" class="btn btn-block btn-warning" value="Save changes" /> -->
                              <button class="btn btn-success" id="submitForm" value="Save changes">Lưu thay đổi</button>
                              <button type="button" class="btn btn-default" data-dismiss="modal">Hủy<div
                                  class="ripple-container">
                                  <div class="ripple-decorator ripple-on ripple-out"
                                    style="left: 63.858px; top: 23.4404px; background-color: rgb(255, 255, 255); transform: scale(20.6551);">
                                  </div>
                                </div></button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%include footer_admin%>