<!DOCTYPE html>
<html lang="en">

<head id="Head">
    <%-include("./header")%>
</head>

<body id="Body">

    <script src="/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/js/jquery-migrate.min.js" type="text/javascript"></script>
    <link href="/stylesheets/menucss.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/news.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/common.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen">

    <%-include("./menu_nhataitro")%>
    <div class="fmcenter">
        <div class="TNContent">
            <div id="dnn_Top" class="DNNEmptyPane">
            </div>
            <div class="clear">
            </div>
            <div class="TNMain">
                <div id="dnn_Top_1" class="TNTop1 DNNEmptyPane">
                </div>
                <div id="dnn_Top_2" class="TNTop2 DNNEmptyPane">
                </div>
                <div id="dnn_Top_3" class="TNTop3 DNNEmptyPane">
                </div>
                <div class="clear">
                </div>
                <div id="dnn_Middle_1" class="TNMiddle1 DNNEmptyPane">
                </div>
                <div id="dnn_Middle_2" class="TNMiddle2 DNNEmptyPane">
                </div>
                <div class="clear">
                </div>
                <div id="dnn_Detail_Left" class="TNDetailLeft">
                    <div class="DnnModule DnnModule-TNCategorySolution DnnModule-538"><a name="538"></a>
                        <div id="dnn_ctr538_ContentPane">
                            <!-- Start_Module_538 -->
                            <div id="dnn_ctr538_ModuleContent" class="DNNModuleContent ModTNCategorySolutionC">
                                <div style="clear:both;"></div>
                                <div class="header_danhmuc">
                                    <div class="hearder_tab_home">
                                        <a href="/"></a>
                                    </div>
                                    <div class="header_Shape"></div>
                                    <div class="hearder_tab_level1"><a href="/nha-tai-tro">&nbsp;Danh
                                            sách tài trợ</a> </div>
                                    <div class="header_warp_right"></div>
                                </div>
                                <div style="clear:both;"></div>
                                <div style="clear:both;"></div>
                                <span id="dnn_ctr538_Main_lblMessage" style="clear:both;"></span>
                            </div><!-- End_Module_538 -->
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="DnnModule DnnModule-TNNewsSolution DnnModule-519"><a name="519"></a>
                        <div id="dnn_ctr519_ContentPane">
                            <!-- Start_Module_519 -->
                            <div id="dnn_ctr519_ModuleContent" class="DNNModuleContent ModTNNewsSolutionC">
                                <div class="tnnddemo_wrap">
                                    <div class="xcontents">
                                        <p style="text-align: center;"><b>DANH SÁCH NHÀ TÀI TRỢ CHO QUỸ TRẺ EM TỈNH ĐIỆN
                                                BIÊN</b></p>
                                        <p style="text-align: justify;"><b> </b></p>
                                        <p style="text-align: center;"></p>
                                        <p></p>
                                        <table border="0" cellpadding="0" cellspacing="0" style="width: 534pt;"
                                            class="telerik-reTable-1">
                                            <colgroup>
                                                <col width="83" style="width: 62pt;">
                                                <col width="67" style="width: 50pt;">
                                                <col width="240" style="width: 180pt;">
                                                <col width="42" style="width: 32pt;">
                                                <col width="137" style="width: 103pt;">
                                                <col width="143" style="width: 107pt;">
                                            </colgroup>
                                            <tbody>
                                                <tr height="30" style="height: 22.5pt;"
                                                    class="telerik-reTableHeaderRow-1">
                                                    <td rowspan="3" height="87" class="telerik-reTableHeaderFirstCol-1"
                                                        width="83"
                                                        style="height: 65.25pt; width: 62pt; border-bottom: 0.5pt solid black; text-align: center;">
                                                        NGÀY</td>
                                                    <td rowspan="3" class="telerik-reTableHeaderEvenCol-1" width="240"
                                                        style="width: 280pt; border-bottom: 0.5pt solid black; text-align: center;">
                                                        NHÀ TÀI TRỢ</td>
                                                    <td rowspan="3" class="telerik-reTableHeaderOddCol-1" width="67"
                                                        style="width: 40pt; border-bottom: 0.5pt solid black; text-align: center;">
                                                        SỐ TÀI KHOẢN</td>
                                                    <td rowspan="3" class="telerik-reTableHeaderOddCol-1" width="42"
                                                        style="width: 42pt; border-bottom: 0.5pt solid black; text-align: center;">
                                                        NGÂN HÀNG</td>
                                                    <td colspan="2" class="telerik-reTableHeaderLastCol-1" width="280"
                                                        style="width: 150pt; border-left: none; text-align: center;">
                                                        Tài trợ</td>
                                                </tr>
                                                <tr height="25" style="height: 18.75pt;"
                                                    class="telerik-reTableHeaderRow-1">
                                                    <td colspan="2" height="25" class="telerik-reTableFirstCol-1"
                                                        style="height: 18.75pt; border-left: none; text-align: center;">
                                                        (VND)</td>
                                                </tr>
                                                <tr height="32" style="height: 24pt;"
                                                    class="telerik-reTableHeaderRow-1">
                                                    <td height="32" class="telerik-reTableFirstCol-1"
                                                        style="width: 50pt; border-bottom: 0.5pt solid black; text-align: center;">
                                                    </td>
                                                    <td class="telerik-reTableHeaderOddCol-1"
                                                        style="border-top: none; border-bottom: 0.5pt solid black; text-align: center;">
                                                    </td>
                                                </tr>
                                                <% for(var i = 0; i < moneys.length; i++){ %>
                                                <% if (i % 2 === 0) { %>
                                                <tr height="80" style="height: 60pt;" class="telerik-reTableEvenRow-1">
                                                    <td height="80" class="telerik-reTableFirstCol-1" width="83"
                                                        style="height: 60pt; width: 62pt; border-top: none; text-align: center;">
                                                        <%= moment(moneys[i].createDate).format('hh:mm DD/MM/YYYY') %>
                                                    </td>
                                                    <td class="telerik-reTableEvenCol-1" width="240"
                                                        style="width: 180pt; border-top: none; border-left: none; text-align: center;">
                                                        <%= moneys[i].idSponsor.nameSponsor %>
                                                    </td>
                                                    <td class="telerik-reTableOddCol-1" width="67"
                                                        style="width: 50pt; border-top: none; border-left: none; text-align: center;">
                                                        <%= moneys[i].idSponsor.numberBankAccount %>
                                                    </td>
                                                    <td class="telerik-reTableEvenCol-1" width="137"
                                                        style="width: 150pt; border-top: none; border-left: none; text-align: center;">
                                                        <span><%= moneys[i].idSponsor.nameBank %></span>
                                                    </td>
                                                    <td class="telerik-reTableEvenCol-1" width="137"
                                                        style="width: 150pt; border-top: none; border-left: none; text-align: right;">
                                                        <span><%= moneys[i].numberMoney %></span>
                                                    </td>
                                                    <td class="telerik-reTableLastCol-1"
                                                        style="border-top: none; border-left: none; text-align: center;">
                                                    </td>
                                                </tr>
                                                <% } %>
                                                <% if (i % 2 === 1) { %>
                                                <tr height="80" style="height: 60pt;" class="telerik-reTableOddRow-1">
                                                    <td height="80" class="telerik-reTableFirstCol-1" width="83"
                                                        style="height: 60pt; width: 62pt; border-top: none; text-align: center;">
                                                        <%= moment(moneys[i].createDate).format('hh:mm DD/MM/YYYY') %>
                                                    </td>
                                                    <td class="telerik-reTableEvenCol-1" width="240"
                                                        style="width: 180pt; border-top: none; border-left: none; text-align: center;">
                                                        <%= moneys[i].idSponsor.nameSponsor %>
                                                    </td>
                                                    <td class="telerik-reTableOddCol-1" width="67"
                                                        style="width: 50pt; border-top: none; border-left: none; text-align: center;">
                                                        <%= moneys[i].idSponsor.numberBankAccount %>
                                                    </td>
                                                    <td class="telerik-reTableEvenCol-1" width="137"
                                                        style="width: 150pt; border-top: none; border-left: none; text-align: center;">
                                                        <span><%= moneys[i].idSponsor.nameBank %></span>
                                                    </td>
                                                    <td class="telerik-reTableEvenCol-1" width="137"
                                                        style="width: 150pt; border-top: none; border-left: none; text-align: right;">
                                                        <span><%= moneys[i].numberMoney %></span>
                                                    </td>
                                                    <td class="telerik-reTableLastCol-1"
                                                        style="border-top: none; border-left: none; text-align: center;">
                                                    </td>
                                                </tr>
                                                <% } %>
                                                <% } %>
                                            </tbody>
                                        </table>
                                        <nav aria-label="...">
                                            <% if (pages > 0) { %>
                                            <ul class="pagination justify-content-center">
                                                <% if (current == 1) { %>
                                                <li class="page-item disabled"><a class="page-link"
                                                        style="font-size: 10px;">Trang đầu</a></li>
                                                <% } else { %>
                                                <li><a class="page-link" href="<%=link%>/1<%=search%>"
                                                        style="font-size: 10px;">Trang đầu</a></li>
                                                <% } %>
                                                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                                <% if (i !== 1) { %>
                                                <li class="page-item disabled"><a>...</a></li>
                                                <% } %>
                                                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                                <% if (i == current) { %>
                                                <li class="page-item active"><span class="page-link"
                                                        style="font-size: 10px;">
                                                        <%= i %>
                                                        <span class="sr-only">(current)</span>
                                                        <% } else { %>
                                                <li><a class="page-link" href="<%=link%>/<%= i %><%=search%>"
                                                        style="font-size: 10px;"><%= i %></a>
                                                </li>
                                                <% } %>
                                                <% if (i == Number(current) + 4 && i < pages) { %>
                                                <li class="page-item disabled"><a>...</a></li>
                                                <% } %>
                                                <% } %>
                                                <% if (current == pages) { %>
                                                <li class="page-item disabled"><a class="page-link" style="font-size: 10px;">Trang
                                                        cuối</a></li>
                                                <% } else { %>
                                                <li><a class="page-link" href="<%=link%>/<%= pages %><%=search%>"
                                                        style="font-size: 10px;">Trang cuối</a>
                                                </li>
                                                <% } %>
                                            </ul>
                                            <% } %>
                                        </nav>
                                        <style type="text/css" id="telerik-reTable-1">
                                            .telerik-reTable-1 {
                                                border-width: 0px;
                                                border-style: none;
                                                border-collapse: collapse;
                                                font-family: Tahoma;
                                            }

                                            .telerik-reTable-1 tr.telerik-reTableHeaderRow-1 {
                                                margin: 10px;
                                                padding: 10px;
                                                color: #3F4D6B;
                                                background: #D6E8FF;
                                                text-align: left;
                                                font-size: 10pt;
                                                font-style: normal;
                                                font-family: Tahoma;
                                                text-transform: capitalize;
                                                font-weight: bold;
                                                border-spacing: 10px;
                                                line-height: 14pt;
                                                vertical-align: top;
                                            }

                                            .telerik-reTable-1 td.telerik-reTableHeaderFirstCol-1 {
                                                padding: 0in 5.4pt 0in 5.4pt;
                                                color: #3a4663;
                                                line-height: 14pt;
                                            }

                                            .telerik-reTable-1 td.telerik-reTableHeaderLastCol-1 {
                                                padding: 0in 5.4pt 0in 5.4pt;
                                                color: #3a4663;
                                                line-height: 14pt;
                                            }

                                            .telerik-reTable-1 td.telerik-reTableHeaderOddCol-1 {
                                                padding: 0in 5.4pt 0in 5.4pt;
                                                color: #3a4663;
                                                line-height: 14pt;
                                            }

                                            .telerik-reTable-1 td.telerik-reTableHeaderEvenCol-1 {
                                                padding: 0in 5.4pt 0in 5.4pt;
                                                color: #3a4663;
                                                line-height: 14pt;
                                            }

                                            .telerik-reTable-1 tr.telerik-reTableOddRow-1 {
                                                color: #666666;
                                                background-color: #F2F3F4;
                                                font-size: 10pt;
                                                vertical-align: top;
                                            }

                                            .telerik-reTable-1 tr.telerik-reTableEvenRow-1 {
                                                color: #666666;
                                                background-color: #E7EBF7;
                                                font-size: 10pt;
                                                vertical-align: top;
                                            }

                                            .telerik-reTable-1 td.telerik-reTableFirstCol-1 {
                                                padding: 0in 5.4pt 0in 5.4pt;
                                            }

                                            .telerik-reTable-1 td.telerik-reTableLastCol-1 {
                                                padding: 0in 5.4pt 0in 5.4pt;
                                            }

                                            .telerik-reTable-1 td.telerik-reTableOddCol-1 {
                                                padding: 0in 5.4pt 0in 5.4pt;
                                            }

                                            .telerik-reTable-1 td.telerik-reTableEvenCol-1 {
                                                padding: 0in 5.4pt 0in 5.4pt;
                                            }

                                            .telerik-reTable-1 tr.telerik-reTableFooterRow-1 {
                                                background-color: #D6E8FF;
                                                color: #4A5A80;
                                                font-weight: 500;
                                                font-size: 10pt;
                                                font-family: Tahoma;
                                                line-height: 11pt;
                                            }

                                            .telerik-reTable-1 td.telerik-reTableFooterFirstCol-1 {
                                                padding: 0in 5.4pt 0in 5.4pt;
                                                border-top: solid gray 1.0pt;
                                                text-align: left;
                                            }

                                            .telerik-reTable-1 td.telerik-reTableFooterLastCol-1 {
                                                padding: 0in 5.4pt 0in 5.4pt;
                                                border-top: solid gray 1.0pt;
                                                text-align: left;
                                            }

                                            .telerik-reTable-1 td.telerik-reTableFooterOddCol-1 {
                                                padding: 0in 5.4pt 0in 5.4pt;
                                                text-align: left;
                                                border-top: solid gray 1.0pt;
                                            }

                                            .telerik-reTable-1 td.telerik-reTableFooterEvenCol-1 {
                                                padding: 0in 5.4pt 0in 5.4pt;
                                                text-align: left;
                                                border-top: solid gray 1.0pt;
                                            }
                                        </style><b> <br></b>
                                        <p></p>
                                    </div>
                                </div>

                                <div style="clear: both;"></div>


                                <div style="clear: both;"></div>

                                <script type="text/javascript">
                                    jQuery(document).ready(function () {

                                        // hide #gototop first
                                        // jQuery("#gototop").hide();
                                        // fade in #gototop
                                        jQuery(function () {
                                            jQuery(window).scroll(function () {
                                                if (jQuery(this).scrollTop() > 100) {
                                                    jQuery('#gototop').fadeIn();
                                                } else {
                                                    jQuery('#gototop').fadeOut();
                                                }
                                            });

                                            // scroll body to 0px on click
                                            jQuery('#gototop').click(function () {
                                                jQuery('body,html').animate({
                                                    scrollTop: 0
                                                }, 800);
                                                return false;
                                            });
                                        });
                                    });
                                </script>

                                <script type="text/javascript">

                                    function ReplaceUrlWithoutReloading(urlserver, urlclient) {
                                        //window.history.pushState({ id: 35 }, 'Viewing item #35', '/item/35');
                                        //window.history.pushState({ id: 1 }, urlclient, urlserver);
                                        window.history.replaceState({ id: 1 }, urlclient, urlserver);
                                    }
                                </script>
                            </div><!-- End_Module_519 -->
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
                <%-include("./Detail_Right")%>
                <div class="clear">
                </div>
                <div id="dnn_VideoLeft" class="videoleft DNNEmptyPane">
                </div>
                <div id="dnn_VideoRight" class="videoright DNNEmptyPane">
                </div>
                <div class="clear">
                </div>
                <div id="dnn_VideoHomeTop" class="TNvideotop DNNEmptyPane">
                </div>
                <div class="clear">
                </div>
                <div id="dnn_Video_Left" class="TNVdieoleft DNNEmptyPane">
                </div>
                <div id="dnn_Video_Center" class="TNVideocenter DNNEmptyPane">
                </div>
                <div id="dnn_Video_Right" class="TNVideoright DNNEmptyPane">
                </div>
                <div class="clear">
                </div>
                <div id="dnn_Bottom" class="TNContent DNNEmptyPane">
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
    <%-include("./footer")%>
    <div id="scroll-top" style="display: none;">
        <a href="/" tabindex="0">
            <div class="GotoTop">
                Scroll</div>
        </a>
    </div>
    <div id="dnn_Contentpane" class="DNNEmptyPane">
    </div>
    <script type="text/javascript">
        function tninit() {
            jQuery(".smartlistnoheight").each(function () {
                var me = jQuery(this);
                me.customScroll();
            });
            tndate(".dt");
            jQuery(".dt").mask('99/99/9999');
            jQuery('img[src=]').attr('src', 'abc.jpg');
            jQuery('a img.ximg').error(function () {
                jQuery(this).parent().hide();
            });

            jQuery('.imgnews').each(function () {
                var me = jQuery(this);
                me.find('img').error(function () {
                    me.hide();
                });
                var mheight = me.height();
                var mwidth = me.width();
                var mimg = me.find('img:first');
                if (mimg.height() < mheight) {
                    mimg.css("width", "auto");
                    mimg.css("height", mheight);
                }
            });
        }
        jQuery(document).ready(function () {
            tninit();
        });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#scroll-top").hide();
            jQuery(function () {
                jQuery(window).scroll(function () {
                    if (jQuery(this).scrollTop() > 400) {
                        jQuery('#scroll-top').fadeIn();
                    } else {
                        jQuery('#scroll-top').fadeOut();
                    }
                });
                jQuery('#scroll-top a').click(function () {
                    jQuery('body,html').animate({
                        scrollTop: 0
                    }, 1000);
                    return false;
                });
            });
        });
    </script>
    <script language="javascript" type="text/javascript">

        $(function () {
            $("#amazon_scroller3").amazon_scroller({
                scroller_title_show: 'enable',
                scroller_time_interval: '3000',
                scroller_window_background_color: "none",
                scroller_window_padding: '0',
                scroller_border: "1px solid #c8c8c8",
                scroller_images_width: '140',
                scroller_images_height: '100',
                scroller_title_size: '0',
                scroller_title_color: '#0c6797',
                scroller_show_count: '6',
                directory: 'images'
            });
        });
    </script>

    <input name="ScrollTop" type="hidden" id="ScrollTop" value="159">
    <input name="__dnnVariable" type="hidden" id="__dnnVariable" autocomplete="off"
        value="`{`__scdoff`:`1`,`sf_siteRoot`:`/`,`sf_tabId`:`114`}">
    <div id="fancybox-tmp"></div>
    <div id="fancybox-loading">
        <div></div>
    </div>
    <div id="fancybox-overlay"></div>
    <div id="fancybox-wrap">
        <div id="fancybox-outer">
            <div class="fancybox-bg" id="fancybox-bg-n"></div>
            <div class="fancybox-bg" id="fancybox-bg-ne"></div>
            <div class="fancybox-bg" id="fancybox-bg-e"></div>
            <div class="fancybox-bg" id="fancybox-bg-se"></div>
            <div class="fancybox-bg" id="fancybox-bg-s"></div>
            <div class="fancybox-bg" id="fancybox-bg-sw"></div>
            <div class="fancybox-bg" id="fancybox-bg-w"></div>
            <div class="fancybox-bg" id="fancybox-bg-nw"></div>
            <div id="fancybox-content"></div><a id="fancybox-close"></a>
            <div id="fancybox-title"></div><a href="javascript:;" id="fancybox-left"><span class="fancy-ico"
                    id="fancybox-left-ico"></span></a><a href="javascript:;" id="fancybox-right"><span class="fancy-ico"
                    id="fancybox-right-ico"></span></a>
        </div>
    </div>
    <div id="eJOY__extension_root" style="all: unset;"></div>
</body>

</html>
